<ion-view view-title="ZeKun的OdOUP">

  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <div class="text-center">
          <h1 class="title">你好 <b>ZeKun</b>，你已经坚持学习<b>3</b>天</h1>
          <h2 class="title" style="font-size:25px;line-height:40px;">今天还没有
            <a class="button button-clear button-balanced icon icon-right ion-log-in" href="#/account">打卡</a>
        </div>
      </div>
    </div>
    <div class="list card text-center">
      <div class="item item-divider">我的小组</div>
      <div class="item item-body">

        <div class="row">
          <div class="col">
            <h2>30</h2>
            <p>在线人数</p>
          </div>
          <div class="col">
            <h2>25</h2>
            <p>打卡人数</p>
          </div>
          <div class="col">
            <h2>1</h2>
            <p>今日排名</p>
          </div>
          <div class="col">
            <a class="button button-clear" href="#" ng-click="show()">
              <div class="icon ion-paper-airplane"></div>
              查看
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="list card  text-center">
      <div class="item item-divider">高二数学</div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <h2>30</h2>
            <p>今日题数</p>
          </div>
          <div class="col">
            <h2>25</h2>
            <p>新题题数</p>
          </div>
          <div class="col">
            <h2>1</h2>
            <p>已完成</p>
          </div>
          <div class="col">
            <a class="button button-clear icon icon-right ion-chevron-right" href="#/answer">
              继续做题
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="list card  text-center">
      <div class="item item-divider">高二物理</div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <h2>30</h2>
            <p>今日题数</p>
          </div>
          <div class="col">
            <h2>25</h2>
            <p>新题题数</p>
          </div>
          <div class="col">
            <h2>1</h2>
            <p>已完成</p>
          </div>
          <div class="col">

            <a class="button button-clear icon icon-right ion-chevron-right" href="#/answer">
              继续做题
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="list card  text-center">
      <div class="item item-divider">高二化学</div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <h2>30</h2>
            <p>今日题数</p>
          </div>
          <div class="col">
            <h2>25</h2>
            <p>新题题数</p>
          </div>
          <div class="col">
            <h2>1</h2>
            <p>已完成</p>
          </div>
          <div class="col">

            <a class="button button-clear icon icon-right ion-chevron-right" href="#/answer">
              继续做题
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
